#root {
    height: 100%;
    width: 100%;
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#view-selector {
    display: flex;
    flex-direction: column;
    background-color: var(--background-secondary);
    align-items: center;
    gap: 1.5rem;
    padding: 10px;
    height: 100%;
}
#view-selector i {
    font-size: 1rem;
    color: #86a5b1;
}
#view-selector i:hover {
    color: var(--accent);
}
#view-selector span.active > a > i {
    color: var(--accent);
}
